/*Dashboard Admin CSS*/

.pagetitle {
  font-size: 2.5rem;
  color: black;
}

.mainframe {
  margin-top: 1.5rem;
}

.titletext {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.iconsize {
  font-size: 11vw;
}

@media only screen and (max-width: 575px) {
  .mainframe {
    width: 80%;
  }
}
