/*Navbar Main CSS*/

.shadowbar {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.navhelp {
  background-color: transparent;
}

.navlogo {
  padding: 5px 15px;
}

.logoresponsive {
  width: 70%;
  height: auto;
}

.logodiv {
  max-width: 400px;
}

.navtext {
  font-size: 1.5rem;
  margin: 0.2rem;
}

@media only screen and (max-width: 505px) {
  .logodiv {
    max-width: 300px;
  }
}

@media only screen and (max-width: 410px) {
  .logodiv {
    max-width: 250px;
  }
}

@media only screen and (max-width: 380px) {
  .logodiv {
    max-width: 200px;
  }
}
