/*Main Inventory Details Admin CSS*/

.pagetitle {
  font-size: 2.5rem;
  color: black;
}

.mainframe {
  margin-top: 1.5rem;
}

.titletext {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttonrow {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttoncol {
  align-items: center;
  text-align: center;
}

.buttonhelp {
  width: 50%;
  margin: auto;
  
}

@media only screen and (max-width: 575px) {
  .mainframe {
    width: 80%;
  }

  .buttonhelp {
    width: 90%;
  }
  .cushion {
    margin-top: 2rem;
  }
}
