/*Main Landing Page CSS*/

.cover {
  padding: 0 1.5rem;
}
.btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.small-text {
  font-size: 1.3rem;
}
main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  width: 70%;
  text-align: center;
  color: white;
}

.main-buttons {
  display: inline-block;
  padding: 0.5rem;
  min-width: 10rem;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  margin: 0.5rem;
}

@media only screen and (max-width: 1300px) and (max-height: 600px) {
  main {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 800px) and (min-height: 1000px) {
  main {
    margin-top: 4rem;
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 3rem;
    width: 90%;
  }
}

@media only screen and (max-height: 700px) {
  main h1 {
    font-size: 2rem;
  }

  .small-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 275px) {
  main {
    width: 100%;
  }
}
