/*Navbar Landing Page CSS*/

.navhelp {
  background-color: transparent;
  z-index: 1;
}

.navhelp a,
span {
  color: white;
}

.navlogo {
  padding: 5px 15px;
}

.logodiv {
  max-width: 400px;
}

.logoresponsive {
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 505px) {
  .logodiv {
    max-width: 300px;
  }
}

@media only screen and (max-width: 410px) {
  .logodiv {
    max-width: 250px;
  }
}

@media only screen and (max-width: 380px) {
  .logodiv {
    max-width: 200px;
  }
}
