/*Background Landing Page CSS*/

.videocontainer {
  padding-left: 0%;
  padding-right: 0%;
  position: absolute;
  top: 0;
  z-index: -3;
}

.videohelp {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.jumboassist {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
}
