/*Main Messages Details Admin CSS*/

.pagetitle {
    font-size: 2.5rem;
    color: black;
  }
  
  .mainframe {
    margin-top: 1.5rem;
  }
  
  .titletext {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .buttonrow {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .buttoncol {
    align-items: center;
    text-align: center;
  }
  
  .buttonhelp {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 575px) {
    .mainframe {
      width: 80%;
    }
  
    .buttonwidth {
      width: 90%;
      margin: 1rem;
    }
  }