/*Main Inventory List Admin CSS*/

.pagetitle {
  font-size: 2.5rem;
  color: black;
}

.mainframe {
  margin-top: 1.5rem;
}

.titletext {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttonhelp {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 575px) {
  .mainframe {
    width: 80%;
  }

  .buttonhelp {
    width: 90%;
    margin: 1rem;
  }
}
