/*Body*/
body {
  margin: auto;
}

/*Navbar*/

.navhelp {
  background-color: transparent;
  z-index: 1;
}

.navhelp a,
span {
  color: white;
}

.hamburger {
  color: white;
}

.navlogo {
  padding:5px 15px;
}

.navlinks {
  font-size: 1.2rem;
}

/*Jumbotron / Video*/

.videocontainer {
  padding-left: 0%;
  padding-right: 0%;
  position: absolute;
  top: 0;
  z-index: -3;
}

.videohelp {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.jumboassist {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
}

/*LOGO*/
.responsive {
  width: 90%;
  height: auto;
}

/*Cover*/

.cover {
  padding: 0 1.5rem;
}
.btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*Main*/

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  width: 60%;
  text-align: center;
  color: white;
}

.main-buttons {
  display: inline-block;
  padding: 0.5rem;
}

.main-buttons a {
  min-width: 10rem;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
}

@media only screen and (max-width: 1300px) and (max-height: 600px) {
  main {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 800px) and (min-height: 1000px) {
  main {
    margin-top: 4rem;
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 3rem;
    width: 90%;
  }

  .image {
    width: 80%;
    }
    
}

@media only screen and (max-height: 700px) {
  main h1 {
    font-size: 2rem;
  }

  .small-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 275px) {
  main {
    width: 100%;
  }
}
