/*Body*/
body {
    margin: auto;
  }
  
  /*Navbar*/
  
  .shadowbar {
  box-shadow: rgba(0,0,0,0.08) 0px 1px 12px;
  
  }
  
  .navlogo {
    padding:5px 15px;
  }
  
  .navhelp {
      background-color: transparent;
      z-index: 1;
    }
  
  /*Main Container*/
  .pagetitle {
    font-size: 2.5rem;
  }
  
  .buttonwidth {
      width: 70%;
  }

  .mainframe {
    margin-top: 1.5rem;
  
  }
  
  .productwrap {
    display:flex;
    flex-wrap: wrap;
  }
  
  .navtext {
      font-size: 1.5rem;
      margin: 0.2rem; 
  }
  
  .hamburger {
    color: black;
  }
  /*cards*/
  
  .productcard {
    padding: 15px 15px;
  }
  
  /*LOGO*/
  .responsive {
      width: 89%;
      height: auto;
    }
    
    @media only screen and (max-width: 575px) {
      
      .mainframe {
        width: 80%;
      }
  
      .image {
        width: 80%;
        }
  
        .buttonwidth {
            width: 90%;
            margin: 1rem;
        }

    }